body {
	background: #f8f8f8;
	padding:0;
	margin:0;
}

div.closebox {
	float: right;
	margin: 2;
}

h1, h2 {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 15px;
}

p.note {
	text-align: left;
	font-size: xx-small;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 3;
	padding-bottom: 10;
}

p {
	text-align: center;
}

p.center {
	text-align:center;
}

table {
	width:65%;
}

td.label {
	width:60%;
}

th {
	text-align:left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

th.checkbox {
	width:100;
	text-align:center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

td.checkbox {
	text-align:center;
	width:100;
}

input.text {
	width:100%;
}

input.svrtext {
	width:100%;
}
