.hide {
	visibility: hidden;
	display: none;
}
.show {
	visibility: visible;
	display: inline;
}
body {
	margin:0;
	padding:0;
	overflow:hidden;
	overflow-y:auto;
	background: #f8f8f8;
}
div.header {
	border: none;
}
div.header div.sitename {
	float: right;
	padding-right:20;
	padding-top: 16;
	padding-bottom: 10;
	font-size: 24pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:white; /*#c6d8f9;*/
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=135);
}
div.header div.sitelogo {
	height:74;
}
div.main {
	border: none;
	margin: 0;
	padding: 0;
}
div.maincontent {
	margin: 0px auto;
	margin-bottom: 10px;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	text-align: center;
}
div.maincontent table {
	margin: 0px auto;
	margin-top: 5px;
	font-size: 10pt;
}
div.maincontent select {
	margin-top: 1;
	margin-bottom: 1;
}
div.pagetitle {
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=135);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 28pt;
	font-weight: bold;
	color: white;
	text-align: center;
	margin: 0 auto;
	padding-top: 0;
	padding-bottom: 10;
	clear: both;
	width: 100%;
}
div.selectlibraries {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14pt;
	font-weight: bold;
	color: blue;
	text-align: center;
	margin: 0 auto;
	padding-top: 0;
	padding-bottom: 10;
	clear: both;
	width: 100%;
}	
div.selectlibraries input {
	font-size: 10pt;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: white;
	color: #6495ED;
}
div.footer {
	position: absolute;
	bottom: -1;
	background-color: #C6D8F9;
	width: 100%;
	text-align: center;
}
div.login {
	float: right;
	margin: 5 10 0 0;
	padding: 0;
	font-size: 14pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: white;
	text-align: right;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=135);
}
div.logout {
	float: right;
	margin: 0 20 0 0;
	padding: 0;
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: white;
	text-align: center;
	cursor: hand;
	font-weight: bold;
	cursor: hand;
	cursor: pointer;
}
div.login input.login {
	color: white;
	background-color: #6495ED;
	font-size: 12pt;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-weight: bold;
}
div.links { 
	float: right;
}
div.closebox {
	float: right;
	margin: 2;
}
div.news {
	visibility: hidden;
	display: none;
	position: absolute;
	padding: 0;
	margin: 0;
	margin-left:10;
	font-size: 10pt;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-weight: normal;
}
div.news a {
	text-decoration: none;
}
div.news a:hover {
	text-decoration: underline;
}
div.news a:visited {
	color: black;
}
div.news img {
	border: 0;
}

div.search {
	padding-left:18px;
	width:100%; 
	text-align:center;
}

div.search input {
	width:100px;
	color: white;
	border: 3px outset white;
	border-style: outset;
	background-color: #6495ED;
	font-size: 18pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#404040,direction=135);
}

div.formatselect {
	padding-left:0;
	padding-top:5px;
}

div.formatselect select {
	width:165px;
	background-color:#C6D8F9;
}

input.clearbutton {
	margin-top:5px;
	width:165px;
	background-color:#6495ED;
	color:white;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}

input.tab {
	width: 16%;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: white;
	color: #6495ED;
}
					
