div.XXMenuBar {
	background: #6495ED;
	font-size: 12pt;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-weight: bold;
	padding: 3;
	padding-left: 10;
	cursor: default;
}

div.MenuBar {
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: black;
	margin-left: 20px;
	margin-top: 8px;
	background: #A8C7FF;
}


div.MenuBar span { 
	color: black;
	cursor: hand;
}

div.Menubar span.highlight {
	background: white;
}

div.MenuBar span.dehighlight {
	background: #A8C7FF;
}

div.MenuBar div.desc {
	color: white;
	float: right;
	padding-right: 5px;
}

div.Menu {
	position: absolute;
	padding: 4;
	padding-left: 15;
	padding-right: 15;
	font-size: 10pt;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-weight: normal; /*bold;*/
	background-color: #A8C7FF;
	border: thin outset #A8C7FF;*/
}

div.Menu hr {
	width: 50px;
	text-align: left;
}

div.Menu span { 
	color: black; /*#0000c0;*/
	cursor: hand;
}

div.Menu span.unselectable {
	color: black;
}

div.Menu span.notenabled {
	color: gray;
}

div.Menu span.highlight {
	background: white;
}

div.Menu span.dehighlight {
	background: #A8C7FF;
}

div.Menu span.larr {
	width: 15;
	color: black;
	font-size: 10pt;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-weight: bold;
	padding: 0;
	padding-left: 1;
	margin:0;
	vertical-align: top;
}
