A { color: black; }
A:link { text-decoration: none; }
A:hover { text-decoration: none; }
A:visited { color: black; text-decoration: none;}
div.L1 A { color: black;}
div.L1 A:visited { color: black; text-decoration: none;}
div.L2x A { color: black;}
div.L2x A:visited { color: black; text-decoration: none;}
div.L2y A { color: black;}
div.L2y A:visited { color: black; text-decoration: none;}
A.TitleLink { font-weight: bold; }

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

div.header {
	background:#ffffff;
	margin: 0;
	padding: 0;
	padding-bottom: 3px;
	text-align: left;
	border: none;
	border-bottom: thin solid #2977b9;
	/*overflow: hidden;*/
	white-space: nowrap;
	height: 41px;
}

div.header input#freetext { 
	width:250px;
	border: 1px solid gray;
}

div.header .modifiers {
	display: block;
	width: 250;
	margin: 0; 
	padding: 0 3 0 3; 
	font-size: 8pt; 
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

div.headerLeft {
	margin-top: 4px;
	float: left;
}

div.headerRight { 
	margin-top: 0px;
	float: right; 
}

span.sitename {
	text-align:left;
	font-size: 18pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #2977b9;
	padding: 6px;
	padding-top: 10px;
	padding-right: 10px;
}

.headerText {
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: black;	
}

img.cod {
	margin-top: 5px;
	margin-left: 10px;
	cursor: hand;
}

.L1 {
	font-size: 12pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: blue;	
	margin-left: 10px;
	margin-top: 15px;
	margin-bottom: 10px;
	cursor: default;
}

.L2 {
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: black;
	margin-left: 20px;
}

.L2z {
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: black;
	margin-left: 20px;
	margin-top: 4px;
}

.L2y {
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: blue;
	margin-left: 20px;
}

.L2x {
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: blue;
	margin-left: 20px;
	margin-top: 8px;
}

div.footer {
	border: none;
	border-top: thin solid #2977b9;
}

div.footerlogo {
	height:26px;
	background-color:#FFFFFF;
}

div.footerlogo span.productname {
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #004E96;
	vertical-align: 3px;
}	

div.footerRight { 
	background:url(/mirc/images/FooterBackground.jpg);
	height:29px;
	width:100%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:white;
	text-align:right;
	font-size:12px;
}

div.footerRight a {
	color: white;
}

div.footerRight a:visited { 
	color: white; 
}

div.rightpane {
	color: black;
	overflow: none; /*auto;*/
}

div.rightpane div.scrollDiv {
	overflow: auto;
}

div.rightpane table {
	width: 100%;
	border-collapse:collapse;
}


div.rightpane table img.spaceRight {
	margin-right: 4px;
}
div.rightpane table th {
	padding: 2px;
	text-align: left;
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background: #d0d0d0;
	border: 1px solid #d0d0d0;
	border-collapse:collapse;
}
div.rightpane table th.sort A { color: #2977b9; }
div.rightpane table th.none A { color: black; }
	
div.rightpane table td {
	padding: 2px;
	vertical-align: top;
	background: white;
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border: 1px solid #99ccff;
	border-collapse:collapse;
}
div.rightpane table td .center {
	text-align: center;
}
div.rightpane table td.tableCB {
	width: 20px;
}
div.rightpane table td.blankTD {
	width: 20px;
}
div.rightpane table td.detailsTD {
	white-space: normal;
	padding-left: 20px;
	overflow: auto;
}
div.rightpane table td.detailsTD .detailsIMG {
	margin: 3;
	width: 96px;
	height: auto;
}
div.rightpane table td.detailsTD p {
	margin-top: 3px;
	margin-right: 10px;
	overflow: auto;
}

div.rightpane iframe {
	width: 100%;
	height: 100%;
	border-style: none;
	border-width: 0px;
}

div#Cases { margin-top: 8px; }

div.leftpane hr {
	margin: 6px 0px 6px 20px;
	width: 100px;
	text-align: left;
}

div.links {
	margin-top: 10px;
	margin-bottom:5px;
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: black;
	margin-right:15px;
}
div.links img {
	margin-left: 2px;
	height: 24px;
	width: 24px;
}

/* Split pane styles */
.leftpane {
	position:absolute;
	border:0;
	margin:0;
	padding:0;
	overflow:auto;
	white-space:nowrap;
	background:#f8f8f8;
}
.centerpane {
	position:absolute;
	border:0;
	margin:0;
	padding:0;
	background:#2977b9;
	cursor:col-resize;
}
.rightpane {
	position:absolute;
	border:0;
	margin:0;
	padding:0;
	overflow:auto;
	background:#f8f8f8;
}

.w0  { padding-left: 0px; }
.w0x { padding-left:30px; }
.w1  { padding-left:10px; }
.w1x { padding-left:35px; }
.w2  { padding-left:20px; }
.w2x { padding-left:45px; }
.w3  { padding-left:30px; }
.w3x { padding-left:55px; }

/*Styles for the conferences and file cabinets trees in the left pane*/
div#confs {
	margin-left:20px;
}

div.open {
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10pt;
	color: black;
}

div.closed {
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10pt;
	color: black;
}

div#cabs {
	margin-left:20px;
}

/*File cabinet selection styles*/
div#right img.sel {
	border:1px red solid; 
	margin:1px;
}

div#right img.desel {
	border:1px #ffffff solid; 
	margin:1px;
}

/*Styles for the Advanced Query popup*/
div#AdvancedQuery {
	margin: 0px auto;
	margin-bottom: 10px;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	text-align: center;
}
div#AdvancedQuery table {
	margin: 0px auto;
	margin-top: 5px;
	font-size: 10pt;
}
div#AdvancedQuery div.formatselect {
	padding-left:0;
	padding-top:5px;
}

div#AdvancedQuery div.formatselect select {
	width:165px;
}

div#AdvancedQuery input.clearbutton {
	margin-top:5px;
	width:165px;
	background-color: white;
	color: #2977b9;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}

div#AdvancedQuery input.tab {
	width: 16%;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: white;
	color: #2977b9;
}

div#AdvancedQuery input.go {
	width: 100px;
	color: white;
	border: 3px outset white;
	border-style: outset;
	background-color: #2977b9;
	font-size: 18pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}

div#FSFileControls {
	padding: 4 0 4 0;
}
div#FSFileControls img {
	margin-left: 6px;
	height: 24px;
	width: 24px;
}
div#ConfControls {
	padding: 4 0 4 0;
}
div#ConfControls img {
	margin-left: 6px;
	height: 24px;
	width: 24px;
}
