p {margin:0;padding:0;}

hr {
	margin-right: 10px;
	color: #2977b9;
}

body.stdresults {
	margin: 0; 
	padding: 0; 
	padding-bottom: 0
	overflow: hidden;
	background: #f8f8f8; /*url(bg.jpg);*/
	background-repeat: no-repeat;
	background-attachment: fixed;
}

div#qrresults {
	border:1px #aaccdd solid;
	padding-left:10;
	padding-top:5;
	overflow: auto;
}

div.header {
	background: url("masthead.jpg");
	background-repeat: no-repeat;
	border: none;
}

div.header div.sitename {
	float: right;
	padding-right:20;
	padding-top: 16;
	padding-bottom: 10;
	font-size: 24pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:white;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=135);
}

div.header div.sitelogo {
	height:74;
}

div.menubar {
	background: #6495ED;
	font-size: 16pt;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-weight: bold;
	padding: 2;
	padding-left: 5;
	padding-right:5;
}

div#menuDiv a:hover {
	background-color: white;
}

div.links { 
	float: right;
}

div.closebox {
	float: right;
	margin: 2;
}

div.pagetitle {
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=135);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 28pt;
	font-weight: bold;
	color: white;
	text-align: center;
	margin: 0 auto;
	padding-top: 0;
	padding-bottom: 10;
	clear: both;
	width: 100%;
}

