body {
	background: #f8f8f8;
	padding:0;
	margin:0;
}

div.closebox {
	float: right;
	margin: 2;
}

h1 {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 15px;
}

p.note {
	text-align: left;
	font-size: xx-small;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 3;
	padding-bottom: 10;
}

p.center {
	text-align: center;
}

table {
	width:70%;
}

td {
	width:50%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

td.buttons {
	text-align: center;
}

input.text {
	width:100%;
}

input.button {
	margin: 5;
	width: 250;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}

