.show {visibility:visible; display:block;}
.hide {visibility:hidden; display:none;}

li {text-align:left; margin-left:5%;}

/********* tab button styles *********/
.u {
	color:white;
	background-color:#2977b9;
	font-weight:bold;
	border:0;
	margin:2px;
	margin-bottom:0;
	}
.s {
	color:#2977b9;
	background-color:white;
	font-weight:bold;
	border:0;
	margin:2px;
	margin-bottom:0;
	}

/******* imagecount style *******/
p.imagecount {
	margin:0;
	padding:0;
	font-weight:bold;
	font-family:sans-serif;
	font-size:10pt;
}	

/******* document footer styles *******/
table.footer {
	margin:auto;
	border:thin solid gray;
	}
table.footer th {
	font-weight:bold;
	padding:3;
	}
table.footer td {
	text-align:center;
	padding-left:10;
	padding-right:10;
	}
table.footer td input {
	width:100%;
	padding-left:3;
	padding-right:3;
	}

/************ page styles ************/
body.page {
	font-size:13pt;
	font-family:arial;
	}
body.page h1 {
	font-size:20pt;
	text-align:center;
	}
body.page p {
	margin-left:5%;
	}
body.page p.center {
	text-align:center;
	margin-left:0; 
	}
body.page p.authorname {
	margin-left:0; 
	text-align:center;
	font-weight:bold;
	}
body.page p.authorinfo {
	text-align:center;
	margin-left:0; 
	margin-top:0; 
	margin-bottom:0;
	}
body.page hr.docfooter {
	text-align:center;
	margin-top:20;
	width:60%; 
	}
body.page p.centeredcaption {
	text-align:center;
	margin:0; 
	}

/************ tab styles ************/
body.tab {
	font-size:13pt;
	font-family:arial;
	margin:0; 
	border:0; 
	padding:0; 
	padding-bottom:0; 
	overflow:hidden;
	}
body.tab div.maindiv {
	border:1px #2977b9 solid; 
	overflow:auto;
	}
body.tab h1 {
	font-size:20pt;
	text-align:center;
	}
body.tab p {
	margin-left:5%;
	}
body.tab p.center {
	margin-left:0; 
	text-align:center;
	}
body.tab p.authorname {
	margin-left:0; 
	text-align:center;
	font-weight:bold;
	}
body.tab p.authorinfo {
	margin-left:0; 
	text-align:center;
	margin-top:0; 
	margin-bottom:0;
	}
body.tab hr.docfooter {
	text-align:center;
	margin-top:20;
	width:60%; 
	}

/************ mstf styles ************/
body.mstf {
	font-size:13pt;
	font-family:arial;
	margin:0; 
	border:0; 
	padding:0; 
	padding-bottom:0; 
	overflow:hidden;
	}
body.mstf div.maindiv {
	padding:0; 
	margin:0; 
	overflow:hidden;
	}
body.mstf h1 {
	font-size:12pt;
	font-family:sans-serif; 
	margin:5; 
	margin-left:0;
	}
body.mstf p {
	margin:5;
	margin-top:10;
	margin-left:0;
	}
body.mstf p.center {
	text-align:center;
	margin-left:0; 
	}
body.mstf p.authorname {
	margin-left:0;
	}
body.mstf p.authorinfo {
	margin-left:0; 
	margin-top:0; 
	margin-bottom:0
	}
body.mstf hr.docfooter {
	text-align:center;
	margin-top:10;
	width:60%;
	}
body.mstf li {
	margin-left:0;
	}

/*********** patient table styles*************/
body.page table.mdtable {
	margin-left:20;
	margin-right:20;
	border-collapse:collapse;
	border:thin solid #2977b9;
}

body.tab table.mdtable {
	margin-left:20;
	margin-right:20;
	border-collapse:collapse;
	border:thin solid #2977b9;
}

body.mstf table.mdtable {
	margin-left:0;
	margin-right:5;
	border-collapse:collapse;
	border:thin solid #2977b9;
}

table.pttable {
	width:60%;
	margin:auto;
	border-collapse:collapse;
	border:thin solid #2977b9;
}

table.pttable td {
	padding:3;
}

table.pttable td.ptlabel {
	width:10%;
}

/*********** RadLex term styles*************/
a.term {
	text-decoration:none;
}
a.term:hover {
	text-decoration: underline;
}

/*********** metadata table styles*************/
table.mdtable td {
	border:thin solid #2977b9;
	padding:5;
	padding-left:10;
	padding-right:10;
}

/*********** image-section styles*************/
.imagediv {
	width:100%;
	margin:0;
	border:0;
	padding:0;
	padding-bottom:0;
	overflow:hidden;
	}
.leftside {
	position:absolute;
	border:0; 
	margin:0; 
	padding:0; 
	overflow:hidden;
	}
.tokenbuttonSEL {
	margin:0;
	padding:0;
	width:64;
	border: 1px red solid;
	}
.tokenbuttonDESEL {
	margin:0;
	padding:0;
	width:64;
	border: 1px #111111 solid;
	}
.left {
	position:absolute;
	text-align:left;
	border:1px #2977b9 solid;
	overflow:auto;
	margin:0;
	padding:0;
	}
.HSdivider {
	position:absolute;
	border:0;
	margin:0;
	padding:0;
	background:#2977b9;
	cursor:col-resize;
	}
.VSdivider {
	position:absolute;
	border:0;
	margin:0;
	padding:0;
	font-size:5pt;
	background:#2977b9;
	cursor:row-resize;
	}
.rightside {
	border:1px #2977b9 solid; 
	background:black; 
	position:absolute; 
	margin:0; 
	padding:0; 
	overflow:hidden;
	}
.rbuttons {
	border:0;
	margin:0;
	background:black;
	padding:2;
	text-align:left;
	padding:2;
	margin:2;
	height:22px;
	}
.imagenumber {
	font-weight:bold;
	font-family:sans-serif;
	font-size:small;
	color:white;
	}
.imagenav {
	float:left;
	font-weight:bold;
	font-family:sans-serif;
	font-size:small;
	color:white;
	}
.selbuttons {
	float:right;
	text-align:right;
	font-weight:bold;
	font-family:sans-serif;
	font-size:small;
	color:white;
	margin-right:17px;
	}
.rimage {
	border:0;
	margin:0;
	padding:0;
	overflow:auto;
	}
.captions {
	display:block;
	text-align:center;
	font-weight:bold;
	font-family:sans-serif;
	font-size:small;
	color:white;
	margin:0;
	padding:0;
	}

/*********** radlex search popup styles*************/
.radlex {
	border: 	0;
	margin: 	10;
	padding: 	5;
	height: 	230px;
	text-align: 	left;
	overflow: 	auto;
	background: 	#eeeeee;
	font-weight:	bold;
	color:		black;
}

/*------------- File tree popup ---------------*/
.filetree {
	border: 	0;
	margin: 	0;
	padding: 	0;
	height: 	295px;
	width:		100%;
	text-align: 	left;
	overflow: 	auto;
	background: 	#eeeeee;
}
/*----------End of File tree popup ------------*/

/*--------- Destination select popup ----------*/
.destSelect {
	width:		250px;
}
/*-------End of Destination select popup -------*/

/*--------- Destination select popup ----------*/
p.center {
	margin-left: 10%;
	margin-right: 10%;
	text-align: center;
}

input.file {
	width:400;
}

div.add {
	height: 140px;
	overflow:auto;
}
/*-------End of Destination select popup -------*/

/*--------- Thread styles ----------*/
div.threadblock {
	margin: 5 5 5 5;
	padding: 5 5 5 5;
}
div.thread {
	border: thin solid gray;
	margin: 5 5 15 5;
	padding: 5 5 5 5;
}
div.post {
	border: thin solid gray;
	margin: 5 5 10 5;
	padding: 5 5 5 5;
	background: #808080;
}
h2.thread {
	margin: 0 0 0 0;
	font-weight:bold;
	font-family:sans-serif;
	font-size:10pt;
	cursor: pointer;
}
h3.thread {
	margin: 5 0 10 0;
	font-weight:normal;
	font-family:sans-serif;
	font-size:10pt;
	cursor: pointer;
}
	
h4.post {
	margin: 0 0 10 0;
	font-weight:normal;
	font-family:sans-serif;
	font-size:10pt;
	cursor: pointer;
}
p.centerbutton {
	text-align: center;
}
input.threadtitle {
	width: 300;
}
textarea.posttext {
	width: 350;
	height: 280;
}
/*--------- End of thread styles ----------*/

/*--------- ScoredQuestion styles ----------*/
p.ScoredQuestion {
	padding: 10px;
	border:thin solid #2977b9;
}
input.sqText {
	width: 100%;
}
input.sqButton {
	margin-top: 7px;
	width: 50px;
}

/*--------- End of ScoredQuestion styles ----------*/
