body {
	background: #c6d8f9;
	padding:0;
	margin:0;
	text-align: center;
}

div.closebox {
	float: right;
	margin: 2;
}

h1, h2 {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 15px;
}

p.note {
	text-align:	left;
	font-size:	xx-small;
	font-family:	Verdana, Arial, Helvetica, sans-serif;
	font-weight:	normal;
	margin-left:	15%;
	margin-right:	15%;
	margin-bottom:	3;
	padding-bottom:	10;
}

table { width:60%; }

.wide { width:80%; }

th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

td { width:50%; }

.name { width:20%; }

.url { width:40%; }

.un { width:20%; }

.pw { width:20%; }

input.text { width:100%; }

