body {
	background:white;
}

div#right {
	padding:1;
}

div#right img.sel {
	border:1px red solid; 
	margin:1px;
}

div#right img.desel {
	border:1px #C6D8F9 solid; 
	margin:1px;
}

div#right div.agenda {
	margin-bottom: 10;
}

div.cnbdiv {
	float:left;
}

table.AIsel {
	border: thin solid red;
	width: 100%;
	background-color: #f8f8f8;
}

table.AIdesel {
	border: thin solid #c6d8f9;
	width: 100%;
	background-color: #f8f8f8;
}

td.AIbullet {
	text-align: center;
	width: 20px;
	padding: 5;
}

td.agendaitem A {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-weight: bold;
	font-size: 12pt;
}

