body {
	background: #c6d8f9;
	padding:0;
	margin:0;
}

div.closebox {
	float: right;
	margin: 2;
}

h1 {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	margin-top: 12px;
	margin-bottom: 5px;
}

h2 {
	margin-top: 0;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
}
	
hr { width: 70%; }

p.note {
	text-align: left;
	font-size: xx-small;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 3;
	padding-bottom: 10;
}

p.subnote {
	text-align: left;
	font-size: xx-small;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	margin: 0;
	margin-left: 15%;
	margin-right: 15%;
	padding: 0;
}

p.instruction {
	text-align: left;
	font-size: x-small;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 3;
	margin-bottom: 6;
	padding: 0;
}

p.center {
	margin-left: 15%;
	margin-right: 15%;
}

table {
	width:70%;
	text-align: center;
}

td.text-field {
	text-align: left;
	font-size: xx-small;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	width:70%;
	text-align:left;
}

td.text-label {
	text-align: left;
	font-size: x-small;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	width:30%;
	text-align:left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

input.file {
	width:500;
}

input.input-length {
	width:100%
}

