body {
	background: #c6d8f9;
	padding:0;
	margin:0;
}

div.closebox {
	float: right;
	margin: 2;
}

h1, h2 {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 15px;
}

p.note {
	text-align: left;
	font-size: xx-small;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 3;
	padding-bottom: 10;
}

table {
	width:60%;
}

td {
	width:50%;
}

input.text {
	width:100%;
}
