/* The Author Service editor style sheet */

/* The body of the document */
body {
	background-color:	#88bbff; 
	margin:			0; 
	border:			0; 
	padding:		4; 
	overflow:		hidden;
}

div.mainEditorDiv {
	visibility:		visible;
	display:		block;
}

div.svgEditorDiv {
	visibility:		hidden;
	display:		none;
}

/* The heading level used for each page */
h1 {
	font-size:		small;
	font-family:		Verdana, Arial, Helvetica, sans-serif;
	font-weight:		bold;
	text-align:		left;
	margin-left:		10;
	margin-top:		10;
	color:			blue;
}

/* The sub-heading level used on some pages */
h2 {
	font-size:		small;
	font-family:		Verdana, Arial, Helvetica, sans-serif;
	font-weight:		bold;
	margin-left:		10%;
	margin-bottom:		0;
	font-size:		xx-small;
	font-weight:		bold;
	color:			blue;
}

/* The rule that goes below the tabs */
hr {
	color:			#77aaff;
}

/*------------- The toolbar --------------*/
.toolbar {
	text-align:		left;
	font-size:		xx-small;
	font-family:		Verdana, Arial, Helvetica, sans-serif;
	font-weight:		normal;
	color:			gray;
	background-color:	#99ccff; 
	margin:			0; 
	margin-bottom:		4;
	border:			0; 
	padding:		4;
}

.toolLabel {
	font-size:		x-small;
	font-weight:		bold;
	color:			black;
}

.toolbutton {
	padding-right:		3;
	padding-left:		3;
}

.group {
	margin-right:		10;
	border:			thin solid #88bbff;
	padding:		2;
}

.group img {
	width:			24;
	height:			24;
}
/*---------- End of the toolbar -----------*/

/*------------------- The tabs --------------------*/
.tabs {
	background-color:	#88bbff;
}

/* A deselected tab - with background the same as the tabs div */
input.deselectedTab {
	color:			white;
	background-color:	#66aaff;
	font-size:		xx-small;
	font-family:		Verdana, Arial, Helvetica, sans-serif;
	font-weight:		bold;
	border:			0;
	margin:			3;
	padding:		0 5 0 5;
	overflow:		visible;
}

/* A selected tab - with the same text color but a bright background */
input.selectedTab {
	color:			white;
	background-color:	blue;
	font-size:		xx-small;
	font-family:		Verdana, Arial, Helvetica, sans-serif;
	font-weight:		bold;
	border:			0;
	margin:			3;
	padding:		0 5 0 5;
	overflow:		visible;
}
/*---------------- End of the tabs ----------------*/

/*------------- The palette --------------*/
div.palette {
	background-color:#88bbff; 
	margin:			0; 
	border:			0; 
	padding:		0; 
	overflow:		hidden;
	float:          	right;
}

/* The div holding the Cabinet button */
div.cabinetdiv {
	height:			75;
}

input.cabinetbutton {
	width:			100;
}

/* The div holding the file icons */
div.filesdiv {
	overflow:		auto;
}
/*---------- End of the palette -----------*/

div.hide {visibility:hidden; display:none;}

.sectionImg {
	border:			thin solid #88bbff;
}

.commentblockImg {
	border:			thin solid #88bbff;
}

.editor {
	background-color:	#77aaff; 
	margin:			0; 
	border:			0;
	padding:		0; 
	overflow:		auto;
	float:          	left;
}

.fileImg {
	width:			96;
	border:			thin solid #77aaff;
}

.sectionPage {
	visibility:		hidden;
	display:		none;
	overflow:		auto;
}

.p1 {
	text-align:		left;
	font-size:		xx-small;
	font-family:		Verdana, Arial, Helvetica, sans-serif;
	font-weight:		normal;
	margin-left:		10;
	margin-right:		15%;
	margin-bottom:		3;
	padding-bottom:		0;
}

.p1a {
	text-align:		left;
	font-size:		xx-small;
	font-family:		Verdana, Arial, Helvetica, sans-serif;
	font-weight:		normal;
	margin-left:		10;
	margin-right:		15%;
	margin-bottom:		0;
	padding-bottom:		0;
}

.p2 {
	border:			thin solid #88bbff;
	margin-left:		15%;
	margin-right:		15%;
	padding:		10;
}

.p3 {
	text-align:		left;
	font-size:		xx-small;
	font-family:		Verdana, Arial, Helvetica, sans-serif;
	font-weight:		normal;
	margin-left:		10;
	margin-right:		10;
	margin-top:		0;
	margin-bottom:		14;
}

.p4 {
	text-align:		center;
	margin-left:		20;
	margin-right:		20;
	margin-top:		10;
	margin-bottom:		20;
}

.p5 {
	text-align:		center;
	margin-left:		20;
	margin-right:		20;
	margin-top:		10;
	margin-bottom:		20;
	border:			thin solid #77aaff;
}

.w300 {
	width:			300;
}

.td1 {
	width:			30%;
}

.title {
	margin-left:		10%;
	margin-right:		10%;
	width:          	80%;
	height:			75;
}

.author {
	width:			100%;
}

.abstract {
	margin-left:		10%;
	margin-right:		10%;
	width:			80%;
	height:			150;
}

.reflist {
	margin-left:		20%;
	margin-right:		20%;
}

.reflistitem {
	vertical-align:		top;
	margin-bottom:		10;
}

.reference {
	margin-left:		10%;
	margin-right:		10%;
	width:			80%;
	height:			75;
}

td {
	padding:		2;
}

table.captiontable {
	margin:			auto;
	width:			40%;
	border-collapse:collapse;
	border:			thin solid #88bbff;
}

table.captiontable td.checkbox {
	padding:		0 5 0 5;
	width:			1%;
}

table.pttable {
	margin:			auto;
	border-collapse:collapse;
	border:			thin solid #88bbff;
}

table.techtable {
	margin:			auto;
	border-collapse:collapse;
	border:			thin solid #88bbff;
}

table.pttable td {
	padding:		5;
}

table.pmtable {
	margin:			auto;
	border-collapse:collapse;
	border:			thin solid #88bbff;
}

table.pmtable td {
	border:			thin solid #88bbff;
	padding:		5;
}

.pmlabel {
	width:			50;
}

.content {
	margin-left:		10%;
	margin-right:		10%;
	width:			80%;
	height:			75;
}

.sectionP {
	border:			thin solid #88bbff;
	margin-left:		0;
	margin-right:		0;
	width:			600;
	height:			150;
}

.sectionP40 {
	border:			thin solid #88bbff;
	margin-left:		0;
	margin-right:		0;
	width:			600;
	height:			40;
}

/*------------- Quiz --------------*/
table.quiz {
	margin:			auto;
	width:			80%;
	border:			thin solid #88bbff;
	border-collapse:	collapse;
	background-color:	#99ccff;
}

table.quiz textarea {
	width:		100%;
}

table.quiz td {
	font-size:	xx-small;
	font-family:	Verdana, Arial, Helvetica, sans-serif;
	font-weight:	bold;
	padding:	5;
}

table.quiz td.qbutton {
	text-align:	center;
	padding-top:	20;
	padding-bottom:	20;
	background-color:#99ccff;
}

table.quiz td.abutton {
	text-align:	center;
	padding-top:	5;
	padding-bottom:	5;
}

table.quiz td.question {
	padding-top:	20;
	padding-bottom:	5;
	background-color:#99ccff;
}

table.quiz td.context {
	padding-top:	5;
	padding-bottom:	5;
}

table.quiz td.ans {
	font-size:	x-small;
	font-family:	Verdana, Arial, Helvetica, sans-serif;
	font-weight:	bold;
	text-align:	right;
	width:		10%;
	border-top:	thin solid #88bbff;
	border-bottom:	thin solid #88bbff;
}

table.quiz td.ansa {
	border-top:	thin solid #88bbff;
}

table.quiz td.ansr {
	border-bottom:	thin solid #88bbff;
}

table.quiz button.quiz {
}
/*------------- End of Quiz --------------*/

/*------------- SVG editor ---------------*/
.svgToolPalette {
	margin:2;
	padding-top:2;
}

.svgColorButton {
	width:		24;
	height:		24;
	border:		thin solid #dddddd;
	border-width:	1;
	margin-bottom:	3;
	padding:	0;
}

.svgToolP {
	margin:		0;
	padding:	2;
	padding-top:	3;
	padding-bottom:	0;
}

.svgToolP select {
	margin-bottom:	4;
}
/*----------End of SVG editor ------------*/

/*------------- Caption editor ---------------*/
.capDiv {
	overflow:	auto;
	padding:	10;
}

.capCenter {
	text-align:	center;
}

.capTextP {
	text-align:	left;
	font-size:	xx-small;
	font-family:	Verdana, Arial, Helvetica, sans-serif;
	font-weight:	normal;
	margin-left:	15%;
	margin-right:	15%;
	margin-bottom:	2px;
}

.capTextArea {
	margin-left:	15%;
	margin-right:	15%;
	width:		100%;
	height:		100;
}

/*----------End of Caption editor ------------*/

/*------------- File tree popup ---------------*/
.filetree {
	border: 	0;
	margin: 	0;
	padding: 	0;
	height: 	295px;
	width:		100%;
	text-align: 	left;
	overflow: 	auto;
	background: 	#A8C7FF;
}
/*----------End of File tree popup ------------*/
