div.AuthorSuggest {
	position : absolute;
	background : #fff;
	width : 150px;
	border : #000000 1px solid;
}

div.AuthorSuggest div {
	background : #d0d0d0;
	color : #000;
	cursor : hand;
	text-align : left;
	font-size : small;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-weight : normal;
	padding : 4px;
	padding-left : 4px;
}

div.AuthorSuggest div.AuthorSuggestMouseOver {
	color : #fff;
	background : #000;
}
