body {
	background: #c6d8f9;
	padding:0;
	margin:0;
	border-style: none;
}

div.closebox {
	float: right;
	margin: 2;
}

h1 {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	margin-top: 12px;
	margin-bottom: 5px;
}

h2 {
	margin-top: 0;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
}
	
h3 {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

p.note {
	text-align: left;
	font-size: xx-small;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 3;
	padding-bottom: 10;
}

p.normal {
	text-align: left;
	font-size: x-small;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 3;
	margin-bottom: 6;
	padding: 0;
}

p.center {
	text-align: center;
	font-size: x-small;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 3;
	margin-bottom: 6;
	padding: 0;
}

p.link {
	text-align: center;
	font-size: small;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 3;
	margin-bottom: 6;
	padding: 0;
}

p.center {
	text-align: center;
}

td {
	width:50%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

td.buttons {
	text-align: center;
}

input.file {
	width:500;
}

input.button {
	margin: 5;
	width: 250;
	background-color:#6495ED;
	color:white;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}

select {
	width: 100%;
}

input.text {
	width: 100%;
}

