body {
	background: #c6d8f9;
	padding:0;
	margin:0;
}

div.closebox {
	float: right;
	margin: 2;
}

h1 {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	margin-top: 12px;
	margin-bottom: 5px;
}

h2 {
	margin-top: 0;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
}
	
th {
	padding:3;
}

td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	padding: 3;
	vertical-align:top;
}

td.n {
	text-align:center;
}
