body {
	background: #f8f8f8;
	padding:0;
	margin:0;
	border-style: none;
}

div.closebox {
	float: right;
	margin: 2;
}

h1 {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	margin-top: 12px;
	margin-bottom: 8px;
}

h2 {
	margin-top: 0;
	margin-bottom: 5px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
}

h2.MonthlyReport {
	padding: 0;
	margin-top: 0;
	margin-bottom: 10;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
}
	
th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	padding:5;
	background:#e0e0e0;
	vertical-align: bottom;
}

td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	padding: 5;
	vertical-align: top;
	background: white;
}

td.n {
	text-align:center;
}

td.right {
	text-align:right;
}

td.t {
	text-align:center;
	font-weight: bold;
	background:#e0e0e0;
}

td.tl {
	text-align:left;
	font-weight: bold;
	background:#e0e0e0;
}

p {
	text-align: center;
	padding: 10;
}

table {
	margin-top:15;
}

