body {
	background: #c6d8f9;
	padding:0;
	margin:0;
	border-style: none;
}

div.closebox {
	float: right;
	margin: 2;
}

h1 {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 15px;
}

h2 {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 0px;
}

p.note {
	text-align: left;
	font-size: x-small;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 3;
	padding-bottom: 10;
}

p.center {
	margin-top: 0;
	margin-left: 15%;
	margin-right: 15%;
	text-align: center; 
	padding-bottom: 10;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: x-small;
}

th { 
	text-align: left;
	padding-left:5px;
	padding-right: 5px;
}

th.size { text-align: right; }

td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	padding-left:5px;
	padding-right: 5px;
}

td.size { text-align: right; }
td.rowname { width: 35%; }
td.rowdata { width: 65%; }
input.tabledata { width: 400px; }

input.file { width:500; }
select { width:400; }
